@import "ui-variables";

.minimap {
  .linter-line-info {
    background: @background-color-info
  }
  .linter-line-warning {
    background: @background-color-warning
  }
  .linter-line-error {
    background: @background-color-error
  }
}
